// Modal Styles
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.07);

  &.active {
    display: flex;
    opacity: 1;
  }
}

.modal-content {
  background: white;
  padding: 0;
  // border-radius: 8px;
  max-width: 800px;
  max-height: auto;
  width: auto;
  position: relative;
  overflow: hidden;
  transform: translateY(-20px);
  transition: transform 0.3s ease;

  .modal-overlay.active & {
    transform: translateY(0);
  }

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #333;
  }
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0.25rem;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  line-height: 1;

  &:hover,
  &:focus {
    color: #333;
    text-decoration: none;
  }
}

.modal-body {
  height: 90vh;

  img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }
}

// Modal trigger styling (optional)
.modal-trigger {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
