footer {
  padding: 3rem;
  position: relative;
  z-index: 2;
  background-color: $pbc-charcoal;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    top: -25px;
    margin: 0 auto;
    right: 50%;
    background: $pbc-charcoal;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    display: flex;
    width: 0.5rem;
    height: 0.5rem;
    border-style: solid;
    border-color: #fff;
    border-width: 2px 2px 0 0;
    position: absolute;
    top: -14px;
    margin: 0 auto;
    right: calc(50% + 1.35rem);
    transform: rotate(135deg);
  }
}

.news-slider {
  display: flex;
  flex-direction: row;
  border: solid 5px #302f2d;
  align-items: center;
  justify-content: center;
  max-width: 90%;

  @media (min-width: 1200px) {
    max-width: 1000px;
  }

  @media (max-width: 1100px) {
    max-width: 100%;
  }

  @media (max-width: 660px) {
    flex-direction: column;
  }

  h2 {
    font-size: 42px;
    line-height: 1;
    background: #302f2d;
    margin: 0;
    padding: 2rem 1.5rem;
    height: 100%;
    text-align: center;

    @media (max-width: 1100px) {
      font-size: 34px;
      padding: 2.75rem 0.25rem;
    }

    @media (max-width: 768px) {
      font-size: 32px;
      padding: 2rem 0.25rem;
    }

    @media (max-width: 660px) {
      width: 100%;
    }

    span {
      font-size: 68px;
      display: inline-block;

      @media (max-width: 1100px) {
        font-size: 56px;
      }

      @media (max-width: 768px) {
        font-size: 52px;
      }

      @media (max-width: 660px) {
        font-size: unset;
      }
    }
  }

  .slider {
    width: 70%;

    @media (max-width: 660px) {
      width: 80%;
    }

    .slick-slider {
      width: 85%;
      margin: auto;

      @media (max-width: 768px) {
        width: 80%;
      }

      @media (max-width: 660px) {
        width: 100%;
      }
    }

    .slick-slide {
      min-height: 172px;

      @media (max-width: 768px) {
        min-height: 140px;
      }
    }

    .slick-initialized .slick-slide {
      display: flex;
    }

    .slick-prev::before,
    .slick-next::before {
      font-family: unset;
    }

    p {
      width: 88%;
      margin: auto;
      text-align: center;
      font-family: $deckhouse;
      font-size: 28px;

      @media (max-width: 1100) {
        font-size: 24px;
      }

      @media (max-width: 768px) {
        font-size: 20px;
      }

      @media (max-width: 660px) {
        padding: 1.5rem 0;
        width: 100%;
      }
    }
  }
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;

  @media (max-width: 670px) {
    margin: 4rem 0 2rem 0;
  }

  h4 {
    text-align: center;
  }

  form {
    width: 100%;
    display: flex;
    margin-top: 2rem;
  }

  .field {
    background: #302f2d;
    padding: 1rem 1.5rem;
    margin-right: 2%;
    width: 48%;

    input {
      width: 100%;
    }
  }

  .email-field {
    margin-right: 0;
  }

  .submit {
    text-indent: -999999px;
    width: 8%;
    margin: 0;
    background-image: url(/images/check.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #302f2d !important;
  }

  div {
    display: flex;
  }

  @media (max-width: 670px) {
    form {
      flex-direction: column;
    }

    .form-container {
      flex-direction: column;

      .name-field,
      .email-field {
        width: 100%;
        margin-bottom: 2rem;
      }

      .submit {
        text-indent: 0;
        margin: 0 auto;
        background-position: 88% center;
        border-radius: 3rem;
        width: 10rem;
      }
    }
  }
}

#mce-responses {
  position: absolute;
  left: 0;
  bottom: 3rem;
  width: 100%;
  justify-content: center;
}

.colophon {
  width: 100vw;
  height: 96px;
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: #1d1c1b;

  img {
    max-width: 345px;
    width: 35%;
    margin: auto;
  }
}
