/* stylelint-disable no-descending-specificity */
// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
// .cart,
// .checkout,
// .tribe-events-page-template,
// .page-template:not(.home) {
//   .logo {
//     display: flex;
//     width: 12.5rem;
//     min-width: unset;
//     height: auto;
//     padding: 2.25rem 1.5rem;
//     margin: -0.5rem auto 0 auto;
//     background: url(../../images/logo-bg.svg) center center;

//     @media screen and (max-width: 500px) {
//       width: 9.5rem;
//       background-size: cover;
//     }
//   }
// }

.page-template-general {
  .logo {
    background: none !important;
    border: solid 2.4px #fff;
    width: 8.5rem !important;
    height: 7.5rem !important;
    padding: 1rem !important;
    margin: 1.75rem 0 1.75rem 1.75rem !important;
    position: absolute;

    @media screen and (max-width: 790px) {
      width: 6.5rem !important;
      height: 5.5rem !important;
      padding: 0.75rem !important;
    }

    @media screen and (max-width: 620px) {
      position: static;
      margin: 2rem auto !important;
    }
  }

  #hero {
    display: flex;

    @media screen and (max-width: 620px) {
      flex-direction: column;
    }

    h2 {
      font-size: 3.5rem;
      line-height: 4rem;
      text-align: center;
      max-width: calc(100% - 20rem);
      margin: 4rem auto 4rem auto;
      display: flex;
      justify-content: center;

      @media screen and (min-width: 1200px) {
        max-width: 34rem;
      }

      @media screen and (max-width: 790px) {
        font-size: 3rem;
        line-height: 3rem;
      }

      @media screen and (max-width: 620px) {
        margin-top: 0.5rem;
      }
    }
  }
}

.nav-desktop {
  width: 100%;
  position: absolute;
  z-index: 2;
  margin-top: 1.25rem;
  justify-content: space-between;
  padding: 0 1.5rem;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      border-bottom: solid 2px #fff;
      display: flex;
      align-items: center;
    }
  }

  li a,
  a.cart {
    color: #fff;
    font-size: 1.125rem;
    letter-spacing: -0.6px;
    padding: 1.6rem 2.5rem;
    display: block;
    text-align: center;
    position: relative;
    text-decoration: none;

    &::before {
      left: 20%;
      right: 20%;
      top: 50%;
      content: "";
      border-left: 12px solid #fff;
      border-right: 12px solid #fff;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 2px;
      opacity: 0;
      position: absolute;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }

    &:hover::before,
    .current_page_item &::before {
      left: 10%;
      right: 10%;
      opacity: 1;
    }

    @media screen and (max-width: 875px) {
      padding: 1.6rem 0.5rem;
      width: 116px;
      font-size: 1rem;
      line-height: 1rem;

      &::before {
        border-left: 10px solid #fff;
        border-right: 10px solid #fff;
      }

      &:hover::before {
        left: 0;
        right: 0;
      }
    }
  }

  a.cart {
    width: 85px;
    padding: 1.6rem 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  li.current_page_item a::before {
    left: 10%;
    right: 10%;
    opacity: 1;

    @media screen and (max-width: 875px) {
      left: 0;
      right: 0;
    }
  }
}
/* stylelint-enable no-descending-specificity */
