/* stylelint-disable no-descending-specificity */
body.cidercart,
body.cocktail-book {
  .nav-desktop {
    justify-content: space-between;

    * {
      color: #2e6a6d;
    }

    img {
      filter: invert(78%) sepia(100%) saturate(1000%) hue-rotate(154deg) brightness(100%) contrast(100%);
    }

    li {
      border-bottom: solid 2px #2e6a6d;

      a {
        font-weight: 600;
      }
    }
  }

  .hamb {
    background: none !important;
  }

  .hamb-line,
  .hamb-line::after,
  .hamb-line::before {
    background-color: $cocktail-teal;
  }

  .nav-title {
    color: $cocktail-teal;
  }
}

body.cidercart {
  .wrap {
    min-height: 70vh;
    background-image: linear-gradient(0deg, rgba(225, 241, 236, 0) 0%, #c2ded5 100%);

    .button {
      background: #2e6a6d;
      border-radius: 2.25rem;
      font-size: 1.125rem;
      text-align: center;
      padding: 1rem 2.5rem;
      color: #fff;
      text-decoration: none;
      margin-top: 1.25rem;
      display: inline-flex;

      @include slowfade(0.4);

      &:hover {
        background: #40878b;
        color: #fff;

        @include slowfade(0.4);
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(minmax(250px, 1fr));
  grid-gap: 2rem;
  padding: 4rem 6rem 4rem 6rem;

  :nth-child(4n) {
    grid-column: span 3;
    width: 100%;
  }

  .gallery-item {
    img {
      aspect-ratio: 1.25 / 1;
      object-fit: cover;
      width: 100%;
      max-height: 600px;
    }
  }

  @media (max-width: 767px) {
    grid-gap: 1rem;
    padding: 5rem 3rem;
  }

  @media (max-width: 500px) {
    grid-gap: 0.5rem;
    padding: 4rem 1.5rem 3rem 1.5rem;
  }
}

.landing-page {
  width: 80%;
  margin: 0 auto;
  padding: 10rem 0;

  h3 {
    font-family: $font-family-sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #2e6a6d;
    letter-spacing: -0.39px;
    line-height: 2.35rem;
    margin: 2rem 0 1rem 0;
  }

  p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #453e0d;
    letter-spacing: -0.17px;
    line-height: 1.625rem;
  }

  .cidercart & {
    max-width: 32rem;
  }
}

#cidercart-contact {
  h2 {
    color: #2e6a6d;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  form {
    input,
    textarea {
      border: solid 2px #2e6a6d;
    }
  }
}

.cocktail-book {
  #hero {
    display: flex;
    height: 60vh;
    max-height: 730px;

    h2 {
      position: relative;
      font-family: $qugira;
      color: #313233;
      z-index: 2;
      font-size: 96px;
      line-height: 65px;
      margin: auto;
      text-shadow: rgba(255, 255, 255, 0.9) 0 0 30px;

      span {
        font-size: 45px;
        display: flex;
        justify-content: center;
        text-transform: initial;
      }

      @media (max-width: 767px) {
        font-size: 64px;
        line-height: 46px;

        span {
          font-size: 32px;
        }
      }

      @media (max-width: 500px) {
        line-height: 55px;
      }
    }

    img {
      height: 100%;
    }

    &::after {
      display: none;
    }

    @media (max-width: 500px) {
      padding-top: 50px;
    }
  }

  .woocommerce-product-block {
    background: #f8f6f4;
    padding: 8rem 10%;
    position: relative;

    ol.carousel-indicators,
    ol.flex-control-nav {
      display: none;
    }

    .woocommerce-notices-wrapper {
      position: fixed;
      top: 3rem;
      width: 60%;
      z-index: 999999;

      .woocommerce-message {
        background-color: #fff;
      }
    }

    .single-product {
      background: #fff;
      padding: 2rem;
      display: flex;

      @media (max-width: 768px) {
        padding: 0;
      }
    }

    .single-product div.product {
      width: 100%;
      display: flex;
      justify-content: start;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .woocommerce-product-details__short-description {
        margin-bottom: 0;

        p {
          font-size: 14px;
          line-height: 22px;
        }
      }

      div.summary {
        width: 48% !important;
        max-width: 400px;
        position: relative;
        margin-left: 2rem;

        h1 {
          font-family: $pitch-regular;
          color: $cocktail-teal;
          font-size: 26px;
          line-height: 23px;

          span {
            font-size: 18px;
            line-height: 18px;
            display: flex;
            padding-top: 0.25rem;
          }
        }

        @media (max-width: 767px) {
          width: 100% !important;
          margin-top: 2rem;
        }

        @media (max-width: 500px) {
          margin: 2rem 0 0 0;
          padding: 0 2rem 2rem 2rem;
        }
      }

      .flex-viewport,
      .woocommerce-product-gallery__image,
      .woocommerce-product-gallery__wrapper {
        height: 100% !important;
      }

      .cider_meta {
        display: none;
      }

      form {
        order: 4;
        margin-bottom: 1rem;

        @media (max-width: 500px) {
          .quantity {
            margin: 0 0.5rem 0 0 !important;
          }
        }
      }

      .price {
        order: 3;
        font-size: 26px;
        color: $cocktail-teal;
        margin-bottom: 1.5rem;
      }

      button {
        border-color: $cocktail-teal;
        color: $cocktail-teal;
        height: 50px !important;
      }
    }

    @media (max-width: 767px) {
      padding: 5rem 14%;
    }

    @media (max-width: 500px) {
      padding: 2rem 1.5rem;
    }
  }

  .features {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;

    h4 {
      color: #475150;
      font-family: $qugira;
      text-transform: uppercase;
      font-size: 46px;
      line-height: 50px;

      @media (max-width: 767px) {
        font-size: 38px;
        line-height: 40px;
      }

      @media (max-width: 500px) {
        margin-bottom: 0.5rem;
        font-size: 30px;
        line-height: 32px;
      }
    }

    p {
      font-size: 14px;
      line-height: 26px;
      color: #453e0d;

      @media (max-width: 500px) {
        line-height: 22px;
      }
    }

    .feature-card {
      &::before,
      &::after {
        display: none;
      }

      img {
        width: 47%;
        aspect-ratio: 3.25 / 2;
        object-position: left;

        @media (max-width: 500px) {
          width: 100%;
        }
      }

      .content {
        width: 30%;
      }

      @media (max-width: 1024px) {
        flex-direction: column;
        padding: 2rem;

        .content {
          background-color: #fff;
          padding: 2rem;
          margin-top: -2rem;
          width: 80%;
        }

        img {
          width: 100%;
        }
      }

      @media (max-width: 500px) {
        padding: 0;

        .content {
          width: 90%;
        }
      }
    }

    .feature-card:first-child {
      padding-bottom: 0;
      margin-bottom: 0;
      background: none;

      @media (max-width: 500px) {
        margin-top: 4rem;
      }
    }

    @media (max-width: 500px) {
      padding: 0;
    }
  }

  .woocommerce div.product div.images {
    margin-bottom: 0;
    height: 100%;
    max-width: 56%;
    width: auto;

    @media (max-width: 767px) {
      height: auto;
      max-width: 100%;
    }

    img {
      height: 100%;
      aspect-ratio: 1.25 / 1;
      object-fit: cover;
    }
  }

  .modal-trigger-container {
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    a.modal-trigger {
      border: 3px solid #f8f7f3;
      border-radius: 24px;
      padding: 0.5rem 1rem 0.5rem 2.5rem;
      background: url(../../images/eye-icon.svg) no-repeat 16px center;
      color: $cocktail-teal;
      text-decoration: none;
      margin: 1rem 0 0 0 !important;
      display: inline-flex;
    }

    .insta {
      color: $cocktail-teal;
      background: url(../../images/insta.svg) no-repeat 16px center;
      padding-left: 2.5rem;
      display: flex;
      margin: 1rem 0 0 0 !important;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .gform {
    input {
      border: solid 2px #2e6a6d;
    }

    .button {
      background-color: $cocktail-teal;
      color: #fff;
    }
  }
}

/* stylelint-enable no-descending-specificity */
