/* stylelint-disable no-descending-specificity */
.home .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  z-index: 1;
  margin: 7.75rem 0 0 0;
  width: 33%;
  max-width: 350px;
  min-width: 245px;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));

  @media (max-width: 900px) {
    max-width: 550px;
  }

  @media (min-width: 1200px) {
    // margin: 4.5rem 0 0 0;
  }

  @media (max-height: 580px) {
    // margin: 0.5rem 0 0 0;
    width: 27%;
  }
}

h1,
h2,
h3 {
  font-family: $wanderlust;
  font-weight: normal;
}

p,
ul,
li,
div,
a {
  font-family: $pitch-regular;
  font-weight: normal;
}

p {
  letter-spacing: -0.03rem;
  word-spacing: -0.08rem;
}

h2 {
  font-size: 2.5rem;
  color: $pbc-green;
  letter-spacing: -0.5px;
  text-align: center;
  line-height: 3.125rem;
}

p strong {
  font-weight: 800;
}

.hidden {
  display: none;
}

// Slidersss
#slideshow {
  position: relative;
  top: 0;
  left: 0;
  // width: calc(100% - 64px);
  width: 100vw;
  height: 90vh;
  margin: 0 auto 0 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  &::before {
    background: linear-gradient(180deg, rgba(54, 64, 34, 0.12) 5%, rgba(255, 255, 255, 0) 60%);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: -9px;
    left: 0;
    background-image: url(../../images/white-section-break.svg);
    background-size: cover;
    z-index: 0;
  }

  @media (max-height: 580px) {
    height: 100vh;
    width: 100%;
  }

  @media (max-width: 580px) {
    width: 100%;
  }
}

#slideshow > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img.full-bg {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

#slideshow h3 {
  color: #fff;
  font-family: $pitch-regular;
  line-height: 2;
  width: 60%;
  max-width: 620px;
  text-align: center;
  z-index: 2;
  // margin: 0 0 4rem 0;

  @media (max-height: 580px) {
    margin: 1rem 0;
    line-height: 1.75;
    max-width: 75%;
    width: 75%;
  }

  @media (max-width: 900px) {
    margin: 0 0 2rem 0;
  }

  span {
    padding: 0.5rem;
    white-space: pre-wrap;
  }
}

.row {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 587px) {
    flex-direction: column;
  }

  .col-half {
    width: 50%;

    @media screen and (max-width: 587px) {
      width: 100%;
    }
  }
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog > div {
  flex-direction: column;
  padding: 4rem;
}

.quickview-open .modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.stockist-content {
  margin-top: 3rem;
}

.stockist-container {
  overflow: scroll;
}

//Flexslider styles
ol.flex-control-nav,
ol.carousel-indicators {
  position: absolute;
  bottom: 2.7rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
  z-index: 13;

  li {
    list-style-type: none;
    background: #fff;
    border-radius: 8px;
    margin: 0.3rem;

    a {
      width: 14px;
      height: 14px;
      text-indent: -99999px;
      display: flex;
      position: relative;

      &.flex-active::after {
        content: "";
        background: $highlight;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 8px;
        height: 8px;
        border-radius: 5px;
      }
    }
  }
}

ol.flex-control-nav {
  @media screen and (max-width: 587px) {
    display: none;
  }
}

ol.carousel-indicators {
  bottom: 1rem;
  z-index: 6;

  li {
    height: 14px;
    width: 14px;
    border: none;
    opacity: 1;
    position: relative;

    &.active::after {
      content: "";
      width: 8px;
      height: 8px;
      background: $highlight;
      position: absolute;
      z-index: 11;
      top: 3px;
      left: 3px;
      border-radius: 100%;
    }
  }
}

ul.flex-direction-nav {
  position: absolute;
  margin: 0 4%;
  padding: 0;
  list-style-type: none;
  top: 28%;
  left: 0;
  width: 92%;
  display: flex;
  justify-content: space-between;
  z-index: 13;

  @media screen and (max-width: 587px) {
    top: 0;
    height: 100%;
  }

  li a {
    position: relative;
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    height: 200px;
    width: 27px;
    text-indent: -999999px;

    @media screen and (max-width: 587px) {
      height: 100%;
    }
  }

  li a::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-135deg);
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
  }

  // li a::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 46%;
  //   left: 0;
  //   height: 3px;
  //   width: 40%;
  //   background: #fff;
  //   transform: skew(0deg, 45deg);
  // }

  li.flex-nav-next a::before {
    right: 0;
    left: unset;
    transform: rotate(45deg);
  }

  li.flex-nav-next a::after {
    right: 0;
    left: unset;
    transform: skew(0deg, -45deg);
  }
}

body.modal-open {
  overflow: hidden;
}

/* stylelint-enable no-descending-specificity */
