/** Colors */
$brand-primary:         #525ddc;
$pbc-charcoal:          #262523;
$pbc-green:             #a89934;
$pbc-darkgreen:         #768a50;
$pbc-darkgreen-copy:    #64704c;
$highlight:             #768a50;
$cream:                 #f8f7f2;
$cream-dark:            #eceade;
$cocktail-teal:         #30aba7;

/** Box Model  */
$spacer:                2rem;

/** Slick Carousel items **/
$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path: "#{$slick-loader-path}fonts/";

// $colour-scheme:         var(--color-scheme);
// $colour-scheme-light:   lighten(var(--colour-scheme), 20%);

@font-face {
  font-family: Pitch;
  font-display: block;
  font-weight: 500;
  src: url("../../fonts/pitch-sans-medium.woff2") format("woff2");
}

@font-face {
  font-family: Pitch;
  font-display: block;
  font-weight: 600;
  src: url("../../fonts/pitch-sans-semibold.woff2") format("woff2");
}

@font-face {
  font-family: Pitch;
  font-display: block;
  font-weight: 600;
  font-style: italic;
  src: url("../../fonts/pitch-sans-semibold-italic.woff2") format("woff2");
}

@font-face {
  font-family: Pitch;
  font-display: block;
  font-weight: 700;
  src: url("../../fonts/pitch-sans-bold.woff2") format("woff2");
}

@font-face {
  font-family: Wanderlust;
  font-display: block;
  src: url("../../fonts/Wanderlust.otf") format("otf");
  src:
    url("../../fonts/WanderlustRegular.svg") format("svg"),
    url("../../fonts/WanderlustRegular.woff") format("woff");
}

@font-face {
  font-family: Qugira;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/QugiraRegular.woff") format("woff");
  src: url("../../fonts/QugiraRegular.woff2") format("woff2");
}

$wanderlust: "Wanderlust";
$deckhouse: "Deckhouse-Regular";
$pitch-regular: "Pitch";
$qugira: "Qugira";

$font-family-sans-serif: "Pitch";
$font-family-serif: "Wanderlust";

@mixin slowfade($time: 0.4) {
  -webkit-transition: all #{$time}s ease-in-out;
  -moz-transition: all #{$time}s ease-in-out;
  transition: all #{$time}s ease-in-out;
}
